<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./src/app.js" defer></script>
    <title>First project</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="header">
                <h1>{{ título }}</h1>
            </div>
            
            <div class="inputs">
                <input type="text" :placeholder="placeholder" id="inputActivity">
                <input type="submit" :value="valor" @click="addActivity">
            </div>

            <div v-for="a in atividades" class="activities">
                <h4>{{ a.atividade }}</h4>
                <img src="https://img.icons8.com/material-sharp/24/000000/full-trash.png"/>
            </div>

            <div id="clear">
                <button @click="clearActivity"
                        v-if="atividades.length > 0">
                    Limpar
                </button>
            </div>
        </div>
    </div>

</body>
</html>