* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 20px 0;
  background: #6c6cf5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-app {
  width: 341px;
  height: 560px;
  background: #ffffff;
  border-radius: 23px;
}

.container-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
}

.container-header #title {
  font-size: 2rem;
  font-weight: bold;
}

.container-content {
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
}

.container-content::-webkit-scrollbar {
  display: none;
}

.container-content .container-box {
  width: 320px;
  min-height: 44px;
  max-height: 44px;
  height: 100%;
  border: 1px solid #545454;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-content .container-box .nameAc,
.container-content .container-box .delete {
  display: flex;
  align-items: center;
}

.container-content .container-box .delete {
  width: 40px;
}

.container-content .container-box .delete img {
  cursor: pointer;
}

.container-content .container-box .nameAct {
  width: 280px;
  padding-left: 10px;
}

.container-content .container-box .nameAct #paragraph {
  font-size: 1.2rem;
  font-style: italic;
}

.container-content .container-box .nameAct::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

.container-content .container-box .nameAct::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}

.container-footer {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-footer .container-add {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  background: #6c6cf5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container-footer .container-add p {
  font-size: 2rem;
  font-weight: bolder;
  color: #ffffff;
}

#fade,
#modal {
    opacity: 1;
    transition: .5s;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  z-index: 10;
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.header-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #6c757d;
}

.header-modal h2 {
  font-size: 2rem;
  width: 60%;
}

.header-modal .button {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-modal .button button {
  width: 70px;
  height: 30px;
  font-size: .9rem;
  border-radius: 10px;
  border: 1px solid black;
  transition: .5s;
}

.header-modal .button #save {
  margin-right: 2%;
}

.header-modal #save:hover {
  background: rgb(73, 73, 233);
  color: white;
  cursor: pointer;
  border: none;
}

.header-modal #cancel:hover {
  background: rgb(237, 31, 31);
  color: white;
  cursor: pointer;
  border: none;
}

.body-modal {
  display: flex;
  flex-direction: column;
}

.body-modal label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.body-modal input {
  height: 35px;
  outline: none;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
}

#fade.hide,
#modal.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}